body {
    font-family: 'Roboto', sans-serif;
    height: 725px;
    margin: 0;
}
.height {
    height: 725px;
}

section {
    background-color:  black;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.Entire-Post {
    background-color: white;
    margin-top: 40px;
    width: 420px;
}
.Entire-Header {
    align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
}
.Five-And-Paragraphs {
    display: flex;
    align-items: center;
}
.Paragraphs-Only {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.Paragraphs-Only > p {
    margin: 0;
    padding: 0;
}
.Paragraphs-Only > i {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.ellipsis {
    float: right;
    padding-top: 18px;
    padding-right: 10px;
}
.icons { 
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 1px;
}
.icons > i {
    padding-right: 10px;
}

.post-footer {

    padding: 10px;
}
