body {
    height: 725px;
    margin: 0;
}
.height {
    height: 725px;
}
.section-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    background-color: white;
}
section {
    background-color:  black;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.post {
    background-color: white;
    margin-top: 40px;
    width: 420px;
}
.post-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.post-header > p {
    margin: 0;
    padding: 0;
}
.post-header > i {
    display: flex;
    justify-content: flex-start;
}
.icons { display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.icons > i {
    padding-right: 10px;
}
.post-footer {

    padding: 10px;
}
p {
    padding-bottom: 20px;

}